.git
.build
binary
cache
chroot
*.iso
*.log
*.files
*.packages
*.contents
*.hybrid.sha256
binary.modified_timestamps
chroot.*
mk-*.out
config/binary
config/bootstrap
config/chroot
config/common
config/environment.chroot_hooks
config/source
